USE [master]
GO
/****** Object:  Database [VaccinationDB]    Script Date: 02/05/2026 12:15:05 am ******/
CREATE DATABASE [VaccinationDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VaccinationDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\VaccinationDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VaccinationDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\VaccinationDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VaccinationDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VaccinationDB]
GO
/****** Object:  User [RENZO]    Script Date: 02/05/2026 12:15:05 am ******/
CREATE USER [RENZO] FOR LOGIN [RENZO] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [ArugaSystem]    Script Date: 02/05/2026 12:15:05 am ******/
CREATE USER [ArugaSystem] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Aruga]    Script Date: 02/05/2026 12:15:05 am ******/
CREATE USER [Aruga] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [RENZO]
GO
ALTER ROLE [db_owner] ADD MEMBER [ArugaSystem]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [ArugaSystem]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [ArugaSystem]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [ArugaSystem]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [ArugaSystem]
GO
ALTER ROLE [db_datareader] ADD MEMBER [ArugaSystem]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [ArugaSystem]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [ArugaSystem]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [ArugaSystem]
GO
/****** Object:  Table [dbo].[Student_EducationalBackground]    Script Date: 02/05/2026 12:15:05 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_EducationalBackground](
	[Id] [uniqueidentifier] NOT NULL,
	[School] [nvarchar](100) NULL,
	[GraduateYear] [nvarchar](10) NULL,
	[IsDeleted] [bit] NULL,
	[StudentId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Student_EducationalBackground] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student_Logs]    Script Date: 02/05/2026 12:15:05 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_Logs](
	[Id] [uniqueidentifier] NOT NULL,
	[StudentId] [uniqueidentifier] NULL,
	[Logs] [nvarchar](500) NULL,
	[LogDate] [datetime] NULL,
 CONSTRAINT [PK_Student_Logs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 02/05/2026 12:15:05 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [uniqueidentifier] NOT NULL,
	[GivenName] [nvarchar](100) NULL,
	[MiddleName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[ContactNo] [nvarchar](20) NULL,
	[IsDeleted] [bit] NULL,
	[DateCreated] [datetime] NULL,
	[UserCreated] [uniqueidentifier] NULL,
	[DateModified] [datetime] NULL,
	[UserModified] [uniqueidentifier] NULL,
	[UserType] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestTable]    Script Date: 02/05/2026 12:15:05 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestTable](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](100) NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[Cagetory] [int] NULL,
 CONSTRAINT [PK_TestTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02/05/2026 12:15:05 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserType]    Script Date: 02/05/2026 12:15:05 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserType](
	[Id] [uniqueidentifier] NOT NULL,
	[Description] [nvarchar](100) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_UserType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TestTable] ADD  DEFAULT ((1)) FOR [Price]
GO
ALTER TABLE [dbo].[TestTable] ADD  DEFAULT ((1)) FOR [Cagetory]
GO
ALTER TABLE [dbo].[UserType] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
/****** Object:  StoredProcedure [dbo].[GetStudentRecord]    Script Date: 02/05/2026 12:15:05 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetStudentRecord]
AS
BEGIN

        
		CREATE TABLE #tempStudentRecord(
			[StudentId] [uniqueidentifier] NOT NULL,
			[Fullname] [nvarchar](100) NULL,
			[School] [nvarchar](100) NULL,
			[GraduateYear] [nvarchar](10) NULL)

		INSERT INTO #tempStudentRecord(StudentId,FullName,School,GraduateYear)
		SELECT s.Id,
			   ISNULL(GivenName,'') +' '+ ISNULL(LastName,'') as FullName,
			   ISNULL(School,'') as School,
			   ISNULL(GraduateYear,'') as GraduateYear 
			   FROM Students s
			   LEFT JOIN Student_EducationalBackground e 
			   ON e.StudentId = s.Id


    --cursor	   
	DECLARE @studentId uniqueidentifier

	DECLARE studentcursor Cursor For 
		SELECT StudentId FROM #tempStudentRecord WHERE School = 'Domalandan Center Elementary School'

	OPEN studentcursor;

	FETCH NEXT FROM studentcursor INTO @studentId

		WHILE @@FETCH_STATUS = 0
		BEGIN
		
				UPDATE #tempStudentRecord 
					   SET School = 'Domalandan Integrated School'
					   Where StudentId = @studentId

				FETCH NEXT FROM studentcursor into @studentId
		END;

	CLOSE studentcursor
	DEALLOCATE studentcursor
	-- end of cursor

  
	SELECT * FROM #tempStudentRecord

	DROP TABLE #tempStudentRecord





END
GO
/****** Object:  StoredProcedure [dbo].[Student_DeleteStudentById]    Script Date: 02/05/2026 12:15:05 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Student_DeleteStudentById]
(
  @studentId uniqueidentifier
)
AS
BEGIN
          UPDATE Students
		      SET IsDeleted = 1
			  WHERE ID = @studentId

END
GO
/****** Object:  StoredProcedure [dbo].[Student_GetActiveStudents]    Script Date: 02/05/2026 12:15:05 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Student_GetActiveStudents]
AS
BEGIN
  
   SELECT Id,
      ISNULL(GivenName,'') +' '+  ISNULL(MiddleName,'') +'. '+ ISNULL(LastName,'') as FullName,
	  ISNULL(ContactNo,'') as Contact
	  FROM Students 
	  WHERE IsDeleted = 0 

END
GO
/****** Object:  StoredProcedure [dbo].[Student_GetActiveStudentsAdvance]    Script Date: 02/05/2026 12:15:05 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Student_GetActiveStudentsAdvance]
(
  @skip nvarchar(50),
  @take nvarchar(50)
)
AS
BEGIN
   
   DECLARE @query nvarchar(500)

   SET @query = '
				SELECT Id,
					  (GivenName+'' ''+ ISNULL(MiddleName,'''') +'' ''+LastName) as FullName,
					  ISNULL(ContactNo,'''') As Contact
					  FROM Students
					  WHERE IsDeleted = 0 
					  ORDER BY GivenName ASC,LastName ASC
					  OFFSET '+ @skip +' ROWS
					  FETCH NEXT '+ @take +' ROWS ONLY';


   EXECUTE sp_executesql @query 


END
GO
/****** Object:  StoredProcedure [dbo].[Student_GetAllStudents]    Script Date: 02/05/2026 12:15:05 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Student_GetAllStudents]

AS
BEGIN
 
 DECLARE @query nvarchar(MAX)

	SELECT Id,
		GivenName +' '+ LastName as FullName,
		ISNULL(ContactNo,'''') as ContactNo
		FROM Students ORDER BY GivenName ASC, LastName ASC
 
   
END
GO
/****** Object:  StoredProcedure [dbo].[Student_GetInactiveStudent]    Script Date: 02/05/2026 12:15:05 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Student_GetInactiveStudent]
AS
BEGIN
   SELECT Id,
      GivenName+' '+LastName as FullName,
      ISNULL(ContactNo,'') as Contact
	  FROM Students WHERE IsDeleted = 1
     ORDER BY GivenName ASC

END
GO
/****** Object:  StoredProcedure [dbo].[Student_GetStudentById]    Script Date: 02/05/2026 12:15:05 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Student_GetStudentById]
(
  @Id uniqueidentifier
)
AS
BEGIN
   
    SELECT Id,
	      ISNULL(GivenName,'') as GivenName,
		  ISNULL(MiddleName,'') as MiddleName,
		  ISNULL(LastName,'') as LastName,
	      ISNULL(ContactNo,'') As ContactNo,
		  ISNULL(IsDeleted,0) as IsDeleted
		  FROM Students
          WHERE Id = @Id

END
GO
/****** Object:  StoredProcedure [dbo].[Student_GetStudentByLastName]    Script Date: 02/05/2026 12:15:05 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Student_GetStudentByLastName]
(
  @lastName nvarchar(50)
)
AS
BEGIN
   
    SELECT Id,
	      ISNULL(GivenName,'') as GivenName,
		  ISNULL(MiddleName,'') as MiddleName,
		  ISNULL(LastName,'') as LastName,
	      ISNULL(ContactNo,'') As ContactNo,
		  ISNULL(IsDeleted,0) as IsDeleted
		  FROM Students
          WHERE LastName = @lastName

END
GO
/****** Object:  StoredProcedure [dbo].[Student_GetStudentRecords]    Script Date: 02/05/2026 12:15:05 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Student_GetStudentRecords]
AS
BEGIN
  
  CREATE TABLE #TempStudentRecords(
	[Id] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[School] [nvarchar](100) NULL,
	[YearGraduated] [nvarchar](10) NULL)


	INSERT INTO #TempStudentRecords(Id,FullName,School,YearGraduated)
	SELECT s.Id,GivenName+' '+LastName as FullName,School,e.GraduateYear
	     FROM Students s
		 JOIN Student_EducationalBackground e on e.StudentId = s.Id


	DECLARE @studentId uniqueidentifier

	DECLARE studentcursor Cursor For 
		SELECT Id FROM #TempStudentRecords WHERE School = 'Domalandan Center Elementary School'

	OPEN studentcursor;

	FETCH NEXT FROM studentcursor INTO @studentId

		WHILE @@FETCH_STATUS = 0
		BEGIN
		
				UPDATE #TempStudentRecords 
					   SET School = 'Domalandan Integrated School'
					   Where Id = @studentId

				FETCH NEXT FROM studentcursor into @studentId
		END;

	CLOSE studentcursor
	DEALLOCATE studentcursor


	SELECT * FROM #TempStudentRecords 

	DROP TABLE #TempStudentRecords
END
GO
/****** Object:  StoredProcedure [dbo].[Student_GetStudents]    Script Date: 02/05/2026 12:15:05 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Student_GetStudents]
(
  @skip nvarchar(50),  
  @take nvarchar(50),
  @isDeleted bit
)
AS
BEGIN
   
   DECLARE @query nvarchar(500)

   SET @query = '
				SELECT Id,
					  (GivenName+'' ''+ ISNULL(MiddleName,'''') +'' ''+LastName) as FullName,
					  ISNULL(ContactNo,'''') As Contact
					  FROM Students WHERE';

					 SET @query = @query + ' IsDeleted = '+ CAST(@isDeleted as nvarchar(5));
				
					 SET @query = @query + '
					  ORDER BY GivenName ASC,LastName ASC
					  OFFSET '+ @skip +' ROWS
					  FETCH NEXT '+ @take +' ROWS ONLY';

					  print @query

   EXECUTE sp_executesql @query 


END
GO
/****** Object:  StoredProcedure [dbo].[Student_SaveStudent]    Script Date: 02/05/2026 12:15:05 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Student_SaveStudent]
(
   @Id uniqueidentifier,
   @GivenName nvarchar(50),
   @MiddleName nvarchar(50),
   @LastName nvarchar(50),
   @ContactNo nvarchar(15),
   @UpdateBy uniqueidentifier
)
AS
BEGIN

    IF EXISTS(SELECT ID FROM Students WHERE ID = @ID)
	BEGIN
	   UPDATE Students
	      SET GivenName = @GivenName,
		      MiddleName = @MiddleName,
			  LastName = @LastName,
			  ContactNo = @ContactNo,
			  DateModified = GetDate(),
			  UserModified = @UpdateBy
          WHERE ID = @Id
	END
	ELSE 
	BEGIN
	     INSERT INTO Students(Id,GivenName,MiddleName,LastName,ContactNo,IsDeleted,DateCreated,UserCreated,DateModified,UserModified)
		    VALUES(NewId(),@GivenName,@MiddleName,@LastName,@ContactNo,0,GetDate(),@UpdateBy,GetDate(),@UpdateBy)
	END

END
GO
/****** Object:  StoredProcedure [dbo].[Student_UpdateContact]    Script Date: 02/05/2026 12:15:05 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Student_UpdateContact]
(
   @Id uniqueidentifier,
   @ContactNo nvarchar(15)
)
AS
BEGIN

    IF EXISTS(SELECT ID FROM Students WHERE ID = @ID)
	BEGIN
	   UPDATE Students
	      SET ContactNo = @ContactNo,
			  DateModified = GetDate()
          WHERE ID = @Id
	END


END
GO
/****** Object:  StoredProcedure [dbo].[Student_UpdateContactNo]    Script Date: 02/05/2026 12:15:05 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Student_UpdateContactNo]
(  
  @lastName nvarchar(100),
  @contactNo nvarchar(100)
)
AS
BEGIN
  
  CREATE TABLE #TempStudentRecords(
	[Id] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[School] [nvarchar](100) NULL,
	[YearGraduated] [nvarchar](10) NULL)


	INSERT INTO #TempStudentRecords(Id,FullName,School,YearGraduated)
	SELECT s.Id,GivenName+' '+LastName as FullName,School,e.GraduateYear
	     FROM Students s
		 JOIN Student_EducationalBackground e on e.StudentId = s.Id


	DECLARE @studentId uniqueidentifier

	DECLARE studentcursor Cursor For 
		SELECT Id FROM #TempStudentRecords WHERE School = 'Domalandan Center Elementary School'

	OPEN studentcursor;

	FETCH NEXT FROM studentcursor INTO @studentId

		WHILE @@FETCH_STATUS = 0
		BEGIN
		
				UPDATE #TempStudentRecords 
					   SET School = 'Domalandan Integrated School'
					   Where Id = @studentId

				FETCH NEXT FROM studentcursor into @studentId
		END;

	CLOSE studentcursor
	DEALLOCATE studentcursor


	SELECT * FROM #TempStudentRecords 

	DROP TABLE #TempStudentRecords
END
GO
USE [master]
GO
