USE [master]
GO
/****** Object:  Database [ArugaSystemDB]    Script Date: 5/9/2026 8:09:53 PM ******/
CREATE DATABASE [ArugaSystemDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ArugaSystemDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ArugaSystemDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ArugaSystemDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ArugaSystemDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ArugaSystemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ArugaSystemDB]
GO
/****** Object:  User [ArugaSystem]    Script Date: 5/9/2026 8:09:54 PM ******/
CREATE USER [ArugaSystem] FOR LOGIN [ArugaSystem] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [ArugaSystem]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 5/9/2026 8:09:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[AuditID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [uniqueidentifier] NULL,
	[ActionPerformed] [nvarchar](max) NOT NULL,
	[ActionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Children]    Script Date: 5/9/2026 8:09:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Children](
	[ChildID] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[PlaceOfBirth] [nvarchar](100) NULL,
	[MotherName] [nvarchar](255) NOT NULL,
	[FatherName] [nvarchar](255) NOT NULL,
	[GuardianName] [nvarchar](255) NOT NULL,
	[MotherEmail] [nvarchar](50) NULL,
	[FatherEmail] [nvarchar](50) NULL,
	[GuardianEmail] [nvarchar](50) NULL,
	[Address] [nvarchar](70) NULL,
	[BirthHeight] [decimal](5, 2) NULL,
	[BirthWeight] [decimal](5, 2) NULL,
	[HealthCenter] [nvarchar](100) NULL,
	[Barangay] [int] NULL,
	[Sex] [nvarchar](10) NULL,
	[FamilyNo] [nvarchar](11) NULL,
	[MotherID] [uniqueidentifier] NULL,
	[FatherID] [uniqueidentifier] NULL,
	[GuardianID] [uniqueidentifier] NULL,
	[ParentID] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ChildID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClinicRooms]    Script Date: 5/9/2026 8:09:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClinicRooms](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[RoomNumber] [nvarchar](10) NOT NULL,
	[AssignedDoctorID] [uniqueidentifier] NULL,
	[IsOccupied] [bit] NOT NULL,
	[CurrentChildID] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 5/9/2026 8:09:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [uniqueidentifier] NOT NULL,
	[ParentID] [uniqueidentifier] NOT NULL,
	[ChildID] [uniqueidentifier] NOT NULL,
	[VaccineID] [int] NULL,
	[DoseNumber] [int] NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
	[ScheduledDate] [date] NULL,
	[IsRead] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parents]    Script Date: 5/9/2026 8:09:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parents](
	[ParentID] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[ContactNo] [nvarchar](20) NOT NULL,
	[BarangayNo] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[Password] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ParentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Queue]    Script Date: 5/9/2026 8:09:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Queue](
	[QueueID] [int] IDENTITY(1,1) NOT NULL,
	[ParentID] [uniqueidentifier] NULL,
	[QueueNumber] [int] NOT NULL,
	[QueueStatus] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[AssignedRoomID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[QueueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/9/2026 8:09:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[ContactNo] [nvarchar](20) NULL,
	[UserType] [nvarchar](20) NULL,
	[PRCNo] [nvarchar](50) NULL,
	[AccountStatus] [nvarchar](20) NULL,
	[Email] [nvarchar](200) NULL,
	[Address] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaccinationRecords]    Script Date: 5/9/2026 8:09:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaccinationRecords](
	[RecordID] [uniqueidentifier] NOT NULL,
	[ChildID] [uniqueidentifier] NOT NULL,
	[VaccineID] [int] NOT NULL,
	[DoseNumber] [int] NOT NULL,
	[DateAdministered] [date] NOT NULL,
	[LotNumber] [nvarchar](100) NULL,
	[Status] [nvarchar](50) NULL,
	[AdministeredByName] [nvarchar](200) NULL,
	[Remarks] [nvarchar](500) NULL,
	[AdministeredBy] [uniqueidentifier] NULL,
	[ScheduledDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaccineDoses]    Script Date: 5/9/2026 8:09:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaccineDoses](
	[DoseID] [int] IDENTITY(1,1) NOT NULL,
	[VaccineID] [int] NULL,
	[DoseNumber] [int] NOT NULL,
	[MinIntervalDays] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DoseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaccineInventory]    Script Date: 5/9/2026 8:09:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaccineInventory](
	[BatchID] [uniqueidentifier] NOT NULL,
	[VaccineID] [int] NULL,
	[ManufacturedDate] [date] NULL,
	[ExpiryDate] [date] NULL,
	[QuantityRemaining] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vaccines]    Script Date: 5/9/2026 8:09:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vaccines](
	[VaccineID] [int] IDENTITY(1,1) NOT NULL,
	[VaccineName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[VaccineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Notifications] ([NotificationID], [ParentID], [ChildID], [VaccineID], [DoseNumber], [Type], [Title], [Message], [ScheduledDate], [IsRead], [CreatedAt]) VALUES (N'03dca4fb-5aca-4b4a-9c7b-07bb616688cd', N'e6f666e8-b790-4870-9123-6f19b0ad80cb', N'fffa0d00-5167-4362-a7e5-d4974d1e65b5', 6, 2, N'ReminderWeek', N'Vaccine due in 1 week — Anna Cruz', N'PCV (Dose 2) is scheduled in 7 days. Visit Leveriza Health Center on Mon, Wed, or Fri · 8:00 AM - 12:00 PM.', CAST(N'2026-05-15' AS Date), 0, CAST(N'2026-05-08T18:57:58.210' AS DateTime))
INSERT [dbo].[Notifications] ([NotificationID], [ParentID], [ChildID], [VaccineID], [DoseNumber], [Type], [Title], [Message], [ScheduledDate], [IsRead], [CreatedAt]) VALUES (N'a4d2922c-f5b9-475a-b65c-4f266d04caf9', N'e6f666e8-b790-4870-9123-6f19b0ad80cb', N'fffa0d00-5167-4362-a7e5-d4974d1e65b5', 3, 3, N'ReminderWeek', N'Vaccine due in 1 week — Anna Cruz', N'Pentavalent (Dose 3) is scheduled in 7 days. Visit Leveriza Health Center on Mon, Wed, or Fri · 8:00 AM - 12:00 PM.', CAST(N'2026-05-15' AS Date), 1, CAST(N'2026-05-08T18:57:58.210' AS DateTime))
INSERT [dbo].[Notifications] ([NotificationID], [ParentID], [ChildID], [VaccineID], [DoseNumber], [Type], [Title], [Message], [ScheduledDate], [IsRead], [CreatedAt]) VALUES (N'9b582fdf-807f-45d2-abbf-8aa694aa698a', N'e6f666e8-b790-4870-9123-6f19b0ad80cb', N'fffa0d00-5167-4362-a7e5-d4974d1e65b5', 3, 1, N'VaccineTaken', N'Vaccine administered — Anna Cruz', N'Pentavalent (Dose 1) was successfully given to Anna Cruz on March 2, 2026 at Leveriza Health Center. Your child vaccination record has been updated.', CAST(N'2026-03-02' AS Date), 1, CAST(N'2026-05-08T18:57:58.210' AS DateTime))
GO
INSERT [dbo].[Parents] ([ParentID], [FirstName], [MiddleName], [LastName], [Email], [ContactNo], [BarangayNo], [Address], [Password]) VALUES (N'10194f25-8cd3-46e7-b24d-464da0d3c7ac', N'Cardo', N'Salvador', N'Dalisay', N'CDalisay@gmail.com', N'0912345679', N'166', N'1812 Alberta Bldg. Ilang Ilang St. West Zamora', N'sdadadsada')
INSERT [dbo].[Parents] ([ParentID], [FirstName], [MiddleName], [LastName], [Email], [ContactNo], [BarangayNo], [Address], [Password]) VALUES (N'784895dd-f6c3-4a17-ad57-6d91e7a8a038', N'Jose', NULL, N'Cruz', N'jose@email.com', N'09181234567', NULL, NULL, N'pass')
INSERT [dbo].[Parents] ([ParentID], [FirstName], [MiddleName], [LastName], [Email], [ContactNo], [BarangayNo], [Address], [Password]) VALUES (N'e6f666e8-b790-4870-9123-6f19b0ad80cb', N'Juan', N'D', N'Cruz', N'juan@gmail.com', N'09123456789', N'123', N'Manila', N'pass123')
GO
INSERT [dbo].[Users] ([UserID], [FirstName], [MiddleName], [LastName], [Username], [PasswordHash], [ContactNo], [UserType], [PRCNo], [AccountStatus], [Email], [Address], [CreatedAt]) VALUES (N'f60f4c23-ecb4-459e-aac8-1412c1b9c0f4', N'Juan', NULL, N'Dela Cruz', N'doctor1', N'pass123', NULL, N'Doctor', NULL, N'Active', NULL, NULL, NULL)
INSERT [dbo].[Users] ([UserID], [FirstName], [MiddleName], [LastName], [Username], [PasswordHash], [ContactNo], [UserType], [PRCNo], [AccountStatus], [Email], [Address], [CreatedAt]) VALUES (N'27e3c4e5-f3f9-4411-966e-b78369b10728', N'Juana', NULL, N'Dela Cruz', N'drjuana', N'hashed_pass_here', NULL, N'Doctor', N'PRC-12345', N'Active', NULL, NULL, NULL)
INSERT [dbo].[Users] ([UserID], [FirstName], [MiddleName], [LastName], [Username], [PasswordHash], [ContactNo], [UserType], [PRCNo], [AccountStatus], [Email], [Address], [CreatedAt]) VALUES (N'd9ecf11d-bbe3-42ba-8cff-d6205cdf2af0', N'Ana', NULL, N'Reyes', N'nurse1', N'pass123', NULL, N'Nurse', NULL, N'Active', NULL, NULL, NULL)
GO
INSERT [dbo].[VaccinationRecords] ([RecordID], [ChildID], [VaccineID], [DoseNumber], [DateAdministered], [LotNumber], [Status], [AdministeredByName], [Remarks], [AdministeredBy], [ScheduledDate]) VALUES (N'9afb6a42-ab97-4da4-b3db-06910a0f4f35', N'fffa0d00-5167-4362-a7e5-d4974d1e65b5', 1, 1, CAST(N'2023-01-11' AS Date), N'BCG-001', N'Completed', NULL, NULL, NULL, NULL)
INSERT [dbo].[VaccinationRecords] ([RecordID], [ChildID], [VaccineID], [DoseNumber], [DateAdministered], [LotNumber], [Status], [AdministeredByName], [Remarks], [AdministeredBy], [ScheduledDate]) VALUES (N'557fc46b-27a0-4fc6-a0fb-1afcdda820df', N'fffa0d00-5167-4362-a7e5-d4974d1e65b5', 3, 2, CAST(N'2026-05-01' AS Date), N'PENTA-011', N'Completed', NULL, NULL, NULL, NULL)
INSERT [dbo].[VaccinationRecords] ([RecordID], [ChildID], [VaccineID], [DoseNumber], [DateAdministered], [LotNumber], [Status], [AdministeredByName], [Remarks], [AdministeredBy], [ScheduledDate]) VALUES (N'd65365fc-160f-4b20-9b81-1c0025ef9e0c', N'fffa0d00-5167-4362-a7e5-d4974d1e65b5', 2, 1, CAST(N'2023-01-11' AS Date), N'HEPB-001', N'Completed', NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[VaccineDoses] ON 

INSERT [dbo].[VaccineDoses] ([DoseID], [VaccineID], [DoseNumber], [MinIntervalDays]) VALUES (1, 1, 1, 0)
INSERT [dbo].[VaccineDoses] ([DoseID], [VaccineID], [DoseNumber], [MinIntervalDays]) VALUES (2, 2, 1, 0)
INSERT [dbo].[VaccineDoses] ([DoseID], [VaccineID], [DoseNumber], [MinIntervalDays]) VALUES (3, 3, 1, 45)
SET IDENTITY_INSERT [dbo].[VaccineDoses] OFF
GO
SET IDENTITY_INSERT [dbo].[Vaccines] ON 

INSERT [dbo].[Vaccines] ([VaccineID], [VaccineName], [Description]) VALUES (1, N'BCG Vaccine', N'Tuberculosis vaccine for newborns')
INSERT [dbo].[Vaccines] ([VaccineID], [VaccineName], [Description]) VALUES (2, N'Hepatitis B Vaccine', N'Prevents Hepatitis B infection')
INSERT [dbo].[Vaccines] ([VaccineID], [VaccineName], [Description]) VALUES (3, N'Pentavalent Vaccine (DPT-Hep B-HIB)', N'Diphtheria, Pertussis, Tetanus, Hep B, and Hib')
SET IDENTITY_INSERT [dbo].[Vaccines] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Parents__A9D10534B5BE62E6]    Script Date: 5/9/2026 8:09:54 PM ******/
ALTER TABLE [dbo].[Parents] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4D5F87936]    Script Date: 5/9/2026 8:09:54 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (getdate()) FOR [ActionDate]
GO
ALTER TABLE [dbo].[Children] ADD  DEFAULT (newid()) FOR [ChildID]
GO
ALTER TABLE [dbo].[Children] ADD  DEFAULT ('N/A') FOR [MotherName]
GO
ALTER TABLE [dbo].[Children] ADD  DEFAULT ('N/A') FOR [FatherName]
GO
ALTER TABLE [dbo].[Children] ADD  DEFAULT ('N/A') FOR [GuardianName]
GO
ALTER TABLE [dbo].[ClinicRooms] ADD  DEFAULT ((0)) FOR [IsOccupied]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (newid()) FOR [NotificationID]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Parents] ADD  DEFAULT (newid()) FOR [ParentID]
GO
ALTER TABLE [dbo].[Queue] ADD  DEFAULT ('Waiting') FOR [QueueStatus]
GO
ALTER TABLE [dbo].[Queue] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newid()) FOR [UserID]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Active') FOR [AccountStatus]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[VaccinationRecords] ADD  DEFAULT (newid()) FOR [RecordID]
GO
ALTER TABLE [dbo].[VaccineInventory] ADD  DEFAULT (newid()) FOR [BatchID]
GO
ALTER TABLE [dbo].[VaccineInventory] ADD  DEFAULT ((0)) FOR [QuantityRemaining]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Children]  WITH CHECK ADD  CONSTRAINT [FK_Children_Parents] FOREIGN KEY([ParentID])
REFERENCES [dbo].[Parents] ([ParentID])
GO
ALTER TABLE [dbo].[Children] CHECK CONSTRAINT [FK_Children_Parents]
GO
ALTER TABLE [dbo].[ClinicRooms]  WITH CHECK ADD FOREIGN KEY([AssignedDoctorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ClinicRooms]  WITH CHECK ADD FOREIGN KEY([CurrentChildID])
REFERENCES [dbo].[Children] ([ChildID])
GO
ALTER TABLE [dbo].[Queue]  WITH CHECK ADD FOREIGN KEY([AssignedRoomID])
REFERENCES [dbo].[ClinicRooms] ([RoomID])
GO
ALTER TABLE [dbo].[Queue]  WITH CHECK ADD FOREIGN KEY([ParentID])
REFERENCES [dbo].[Parents] ([ParentID])
GO
ALTER TABLE [dbo].[VaccinationRecords]  WITH CHECK ADD  CONSTRAINT [FK_Child] FOREIGN KEY([ChildID])
REFERENCES [dbo].[Children] ([ChildID])
GO
ALTER TABLE [dbo].[VaccinationRecords] CHECK CONSTRAINT [FK_Child]
GO
ALTER TABLE [dbo].[VaccinationRecords]  WITH CHECK ADD  CONSTRAINT [FK_VaccinationRecords_Children] FOREIGN KEY([ChildID])
REFERENCES [dbo].[Children] ([ChildID])
GO
ALTER TABLE [dbo].[VaccinationRecords] CHECK CONSTRAINT [FK_VaccinationRecords_Children]
GO
ALTER TABLE [dbo].[VaccinationRecords]  WITH CHECK ADD  CONSTRAINT [FK_VaccinationRecords_Vaccines] FOREIGN KEY([VaccineID])
REFERENCES [dbo].[Vaccines] ([VaccineID])
GO
ALTER TABLE [dbo].[VaccinationRecords] CHECK CONSTRAINT [FK_VaccinationRecords_Vaccines]
GO
ALTER TABLE [dbo].[VaccinationRecords]  WITH CHECK ADD  CONSTRAINT [FK_Vaccine] FOREIGN KEY([VaccineID])
REFERENCES [dbo].[Vaccines] ([VaccineID])
GO
ALTER TABLE [dbo].[VaccinationRecords] CHECK CONSTRAINT [FK_Vaccine]
GO
ALTER TABLE [dbo].[VaccinationRecords]  WITH CHECK ADD  CONSTRAINT [FK_VaccRec_Doctor] FOREIGN KEY([AdministeredBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[VaccinationRecords] CHECK CONSTRAINT [FK_VaccRec_Doctor]
GO
ALTER TABLE [dbo].[VaccineDoses]  WITH CHECK ADD FOREIGN KEY([VaccineID])
REFERENCES [dbo].[Vaccines] ([VaccineID])
GO
ALTER TABLE [dbo].[VaccineDoses]  WITH CHECK ADD  CONSTRAINT [FK_VaccineDoses_Vaccines] FOREIGN KEY([VaccineID])
REFERENCES [dbo].[Vaccines] ([VaccineID])
GO
ALTER TABLE [dbo].[VaccineDoses] CHECK CONSTRAINT [FK_VaccineDoses_Vaccines]
GO
ALTER TABLE [dbo].[VaccineInventory]  WITH CHECK ADD FOREIGN KEY([VaccineID])
REFERENCES [dbo].[Vaccines] ([VaccineID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([UserType]='Request' OR [UserType]='Admission' OR [UserType]='Nurse' OR [UserType]='Doctor'))
GO
/****** Object:  StoredProcedure [dbo].[Parent_SaveParent]    Script Date: 5/9/2026 8:09:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Parent_SaveParent]
    @ParentID UNIQUEIDENTIFIER = NULL,
    @FirstName NVARCHAR(50),
    @MiddleName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @Email NVARCHAR(100),
    @ContactNo NVARCHAR(20),
    @BarangayNo NVARCHAR(20),
    @Address NVARCHAR(255)
AS
BEGIN
    IF @ParentID IS NULL OR @ParentID = '00000000-0000-0000-0000-000000000000'
    BEGIN
        INSERT INTO Parents (FirstName, MiddleName, LastName, Email, ContactNo, BarangayNo, Address)
        VALUES (@FirstName, @MiddleName, @LastName, @Email, @ContactNo, @BarangayNo, @Address)
    END
    ELSE
    BEGIN
        UPDATE Parents SET 
            FirstName = @FirstName, 
            MiddleName = @MiddleName, 
            LastName = @LastName,
            Email = @Email, 
            ContactNo = @ContactNo, 
            BarangayNo = @BarangayNo, 
            Address = @Address
        WHERE ParentID = @ParentID
    END
END
GO
USE [master]
GO
